* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 800px;
  max-height: 800px;

  background-color: pink;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  margin: 10px;
}
#game > * {
  margin: 10px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.list > li {
  display: flex;
}

.selection > img {
  border: lightblue 4px solid;
  box-shadow: 0 0 10px lightblue;
}

img {
  width: 80px;
  height: 80px;
}
